.contact {
  position: relative;
  background-image: url('../img/shap.jpg');
  background-size: cover;
  background-attachment: fixed;
  // background-color: rgba(23, 33, 38, 0.7);

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(23, 33, 38, 0.7);
  }

  // .contact__container

  &__container {}

  // .contact__inner

  &__inner {
    position: relative;
    z-index: 2;
  }

  // .contact__top

  &__top {
    display: flex;
    justify-content: space-between;
  }

  // .contact__map

  &__map {
    flex: 1 1 auto;
    margin-right: 20px;
    overflow: hidden;
    border-radius: 10px;
  }

  // .contact__stock

  &__stock {}

  // .contact__title

  &__title {
    color: $white;
  }

  // .contact__subtitle

  &__subtitle {
    color: $white;
    max-width: 400px;
    margin-bottom: 50px;
  }

  // .contact__note

  &__note {
    color: $white;
  }

  // .contact__bottom

  &__bottom {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 50px;
  }

  // .contact__col

  &__col {
    display: flex;
    color: $white;
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 20px;
  }

  // .contact__icon

  &__icon {
    margin-right: 5px;
  }
}