.mega-menu {
    position: fixed;
    top: 0;
    right: -150%;
    width: 100%;
    height: 100%;
    transition: $animation_speed;
    z-index: 99;

    &._show-menu {
        right: 0;
    }

    // .mega-menu__body
    &__body {
        display: grid;
        grid-template-columns: 40% 1fr;
        height: 100%;
    }

    // .mega-menu__col
    &__col {

        // mega-menu__col--image
        &--image {
            position: relative;
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            padding: 40px;

            &::after {
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background-color: rgba($color: $blue, $alpha: .9);
            }

            p,
            a {
                position: relative;
                z-index: 2;
            }

            p {
                font-size: 18px;
                color: $white;
            }

            a {
                font-size: 1.9vw;
                font-weight: 600;
                color: $white;
                margin-top: 40px;
            }
        }

        // .mega-menu__col--tab
        &--tab {
            background-color: $white;
            position: relative;
        }
    }

    // .mega-menu__address
    &__address {}

    // .mega-menu__phone
    &__phone {}

    // .mega-menu__close
    &__close {
        position: absolute;
        top: 20px;
        right: 20px;
        width: 40px;
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        border: 1px solid rgba($color: $blue, $alpha: .1);
        border-radius: 3px;
    }

    // .mega-menu__tabs
    &__tabs {}

}

.tab {
    padding: 60px 50px 50px;
    display: none;

    &._active {
        display: block;
    }

    // .tab__top
    &__top {
        margin-bottom: 40px;
    }

    // .tab__title
    &__title {
        font-size: 2.8vw;
        font-weight: 700;
    }

    // .tab__subtitle
    &__subtitle {
        font-size: 17px;
        margin-top: 10px;
        color: rgba($color: $mainColor, $alpha: .9);
    }

    // .tab__list
    &__list {}

    // .tab__item
    &__item {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        border-bottom: 1px dashed rgba($color: $blue, $alpha: .1);
        transition: $animation_speed;

        &:hover {
            border-bottom: 1px dashed rgba($color: $blue, $alpha: .3);
        }
    }

    // .tab__link
    &__link {
        font-size: 22px;
        font-weight: 600;
        min-height: 50px;
        flex: 1 1 auto;
        display: flex;
        align-items: center;
        transition: $animation_speed;

        &:hover {
            color: $accent;
        }
    }

    // .tab__btn
    &__btn {
        position: relative;
        width: 35px;
        height: 35px;
        display: flex;
        align-items: center;
        justify-content: center;
        border: 1px solid rgba($color: $blue, $alpha: .1);
        border-radius: 3px;
        background-color: rgba($color: $grey, $alpha: .1);

        &::before {
            content: '';
            width: 0;
            height: 0;
            border-left: 5px solid transparent;
            border-right: 5px solid transparent;
            border-top: 5px solid $blue;
            transition: $animation_speed;
        }
    }

    // .tab__trigger--content
    &__trigger--content {
        position: absolute;
        right: 100%;
        top: 0;
        display: flex;
        flex-direction: column;


    }

    // .tab__trigger
    &__trigger {
        width: 55px;
        height: 55px;
        background-color: #f5f7f8;

        &._active {
            background-color: $white;
        }

        svg {
            width: 24px;
        }
    }
}

.tab-submenu {
    width: 100%;
    display: none;

    // .tab-submenu__item
    &__item {}

    // .tab-submenu__link
    &__link {}
}

.form {
    display: flex;
    flex-direction: column;

    // .form__content
    &__content {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(390px, 1fr));
        gap: 40px 40px;
        margin-bottom: 40px;
    }

    // .form__input
    &__input {
        width: 100%;
        height: 60px;
        border: 1px solid rgba($color: $blue, $alpha: .1);
        padding: 0px 10px;
        outline: none;
        border-radius: 3px;

        &:focus {
            border-color: rgba($color: $blue, $alpha: .3);
        }

        &::placeholder {
            font-size: 13px;
            color: rgba($color: $mainColor, $alpha: .7);
        }
    }

    // .form__select
    &__select {
        width: 100%;
        height: 60px;
        border: 1px solid rgba($color: $blue, $alpha: .1);
        padding: 0px 10px;
        outline: none;
        border-radius: 3px;
        font-size: 13px;
        color: rgba($color: $mainColor, $alpha: .7);

        &:focus {
            border-color: rgba($color: $blue, $alpha: .3);
        }
    }

    // .form__checkbox
    &__checkbox {
        display: flex;
        align-items: center;

        input[type="checkbox"] {
            appearance: none;
            width: 16px;
            height: 16px;
            position: relative;
            border: 1px solid rgba($color: $blue, $alpha: .4);
            margin-right: 10px;
            cursor: pointer;

            &::after {
                content: '';
                position: absolute;
                top: 50%;
                margin-top: -4px;
                left: 50%;
                margin-left: -4px;
                width: 8px;
                height: 8px;
                background-color: $blue;
                opacity: 0;
                transition: $animation_speed;
            }

            &:checked {
                border-color: rgba($color: $blue, $alpha: .6);

                &::after {
                    opacity: 1;
                }
            }
        }

        label {
            font-size: 16px;
            color: rgba($color: $mainColor, $alpha: .7);
            cursor: pointer;
        }
    }

    // .form__submit
    &__submit {
        background-color: $accent;
        align-self: flex-end;
        width: 290px;
        height: 50px;
        color: #FFF;
        text-align: center;
        font-size: 17px;
        font-weight: 500;
        letter-spacing: 0.2px;
        border-radius: 3px;
    }
}