.menu-wrapper {
    padding: 30px 0px 0px;
    position: fixed;
    top: 0;
    left: 0;
    width: 250px;
    height: 100%;
    border-right: 1px solid rgba($color: $mainColor, $alpha: .05);
    background-color: $white;
    z-index: 99;
}

.logo {
    // width: 150px;
    display: flex;
    justify-content: center;
    padding: 0px 10px;

    img {
        height: 60px;
        max-width: 100%;
    }
}

.menu {
    margin-top: 30px;
    position: relative;
    z-index: 99;

    // .menu__icon
    &__icon {}

    // .menu__body 
    &__body {}

    // .menu__list 
    &__list {}

    // .menu__item 
    &__item {
        margin-bottom: 12px;
        padding: 0px 25px;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-right: 2px solid transparent;

        &:hover {
            border-color: $accent;

            .menu__link {
                color: $accent;
            }

            img {
                transform: rotate(-180deg);
            }
        }
    }

    // .menu__link 
    &__link {
        font-weight: 600;
        font-size: 16px;
        line-height: 125%;
        color: $mainColor;
        padding: 6px 0px;
        display: block;
        flex: 1 1 auto;
    }

    // .menu__btn
    &__btn {
        position: relative;
        width: 20px;
        height: 20px;

        span {
            position: absolute;
            top: 50%;
            left: 0;
            width: 100%;
            height: 2px;
            display: grid;
            grid-template-columns: 2px 1fr;
            gap: 2px;
            transition: .3s;

            &::before {
                content: '';
                width: 100%;
                height: 2px;
                background-color: $accent;
            }

            &::after {
                content: '';
                width: 100%;
                height: 2px;
                background-color: $accent;
            }
        }

        span.one {
            transform: translateY(-5px);
        }

        span.three {
            transform: translateY(5px);
        }

        &._active {

            span {
                gap: 0px;
            }

            span.one {
                transform: rotate(-45deg);
            }

            span.two {
                opacity: 0;
            }

            span.three {
                transform: rotate(45deg);
            }
        }
    }
}

.menu-catalog {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: $bodyColor;
    padding: 40px;
    opacity: 0;
    pointer-events: none;
    transition: .3s;

    &._active {
        left: 250px;
        opacity: 1;
        pointer-events: all;
    }

    // .menu-catalog__row
    &__row {
        display: flex;
        height: 100%;
    }

    // .menu-catalog__col
    &__col {
        height: 100%;
    }

    // .menu-catalog__left
    &__left {
        min-width: 250px;
        border-right: 1px solid rgba($color: $mainColor, $alpha: .05)
    }

    // .menu-catalog__right
    &__right {
        padding: 0px 0px;
        width: 100%;
    }

    // .menu-catalog__link
    &__link {
        padding: 10px 10px;
        font-weight: 600;
        font-size: 15px;
        line-height: 150%;
        color: $mainColor;
        display: block;

        &._active {
            background-color: $white;
        }
    }

    // .menu-catalog__content
    &__content {
        padding: 20px 20px 0px;
        background-color: $white;
        width: 100%;
        height: 100%;
        overflow-y: auto;
    }
}

.content-catalog {
    display: none;
    pointer-events: none;
    visibility: hidden;

    &._active {
        display: block;
        pointer-events: all;
        visibility: visible;
        position: relative;
    }

    // .content-catalog__title
    &__title {
        font-size: 20px;
        margin-bottom: 30px;
        font-weight: 600;
    }

    // .content-catalog__row
    &__row {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));
        gap: 30px;
    }

    // .content-catalog__col
    &__col {
        li {
            padding: 5px 0px;

            a {
                display: block;
                font-size: 14px;
                font-weight: 500;
                padding: 5px 0px;

                &:hover {
                    color: $accent;
                }
            }
        }
    }
}