.banner {
    margin-top: 85px;
    padding: 40px 0px;
    min-height: 350px;
    background-size: cover;
    background-attachment: fixed;
    position: relative;

    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba($color: $mainColor, $alpha: .8);
    }

    // .banner__container

    &__container {}

    // .banner__inner

    &__inner {
        position: relative;
        z-index: 2;
    }

    // .banner__title

    &__title {
        max-width: 490px;
        line-height: 110%;
        color: $white;
    }

    // .banner__decr

    &__decr {
        color: rgba($color: $white, $alpha: .8);
        max-width: 490px;
        line-height: 140%;
        margin-top: 10px;
    }

    // .banner__button

    &__button {
        background-color: rgba($color: $accent, $alpha: 1.0);
        padding: 15px 40px;
        border-radius: 50px;
        margin-top: 40px;
        color: rgba($color: $white, $alpha: 1.0);
    }
}

.service-body {
    padding: 60px 0px;

    // .service-body__container

    &__container {}

    // .service-body__inner

    &__inner {}

    // .service-body__row

    &__row {
        display: flex;
        align-items: center;

        @media screen and (max-width: 875px) {
            flex-direction: column;
        }
    }

    // .service-body__col

    &__col {
        &:first-child {
            margin-right: 20px;
        }
    }

    // .service-body__image

    &__image {
        min-width: 320px;

        img {
            max-width: 100%;
        }
    }

    // .service-body__text

    &__text {
        font-size: 16px;
        line-height: 140%;

        &:not(:last-child) {
            margin-bottom: 20px;
        }
    }
}

.service-repair {
    padding-bottom: 60px;

    // .service-repair__container

    &__container {}

    // .service-repair__inner

    &__inner {}

    // .service-repair__title

    &__title {
        font-size: 30px;
        font-weight: 700;
        color: rgba($color: $mainColor, $alpha: .8);
        margin-bottom: 30px;
    }

    // .service-repair__table

    &__table {}
}

.table-repair {

    // .table-repair__caption

    &__caption {
        display: grid;
        grid-template-columns: 1fr 15%;
        background-color: rgba($color: $blue, $alpha: 1.0);

        @media screen and (max-width: 805px) {
            grid-template-columns: 1fr 150px;
        }

        @media screen and (max-width: 425px) {
            grid-template-columns: 1fr 110px;
        }
    }

    // .table-repair__name

    &__name {
        display: flex;
        align-items: center;
        padding: 15px 10px;
        color: rgba($color: $white, $alpha: 1.0);
        font-weight: 600;
        font-size: 16px;
        border-right: 1px solid rgba($color: $mainColor, $alpha: .4);
    }

    // .table-repair__price

    &__price {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 15px 10px;
        color: rgba($color: $white, $alpha: 1.0);
        font-weight: 600;
        font-size: 16px;
    }

    // .table-repair__item

    &__item {}
}

.item-repair {
    display: grid;
    grid-template-columns: 1fr 15%;

    &:nth-child(odd) {
        background-color: rgba($color: $blue, $alpha: .12);
    }

    @media screen and (max-width: 805px) {
        grid-template-columns: 1fr 150px;
    }

    @media screen and (max-width: 425px) {
        grid-template-columns: 1fr 110px;
    }

    // .item-repair__name

    &__name {
        display: flex;
        align-items: center;
        padding: 15px 10px;
        color: rgba($color: $mainColor, $alpha: 1.0);
        font-weight: 500;
        font-size: 14px;
        line-height: 120%;
        border-right: 1px solid rgba($color: $mainColor, $alpha: .4);
        border-left: 1px solid rgba($color: $mainColor, $alpha: .4);
        border-bottom: 1px solid rgba($color: $mainColor, $alpha: .4);
    }

    // .item-repair__price

    &__price {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 15px 10px;
        color: rgba($color: $mainColor, $alpha: 1.0);
        font-weight: 500;
        font-size: 14px;
        border-right: 1px solid rgba($color: $mainColor, $alpha: .4);
        border-bottom: 1px solid rgba($color: $mainColor, $alpha: .4);

        @media screen and (max-width: 425px) {
            padding: 15px 5px;
        }
    }
}