.service-page {
  .callback-block {
    margin-bottom: 0px;
  }
}

._title {
  color: $mainColor;
  font-size: 40px;
  font-weight: 900;
  margin: 26px 0px 13px;
  color: rgba($color: $mainColor, $alpha: .8);

  @media screen and (max-width: 768px) {
    font-size: 30px;
  }
}

body {
  overflow-x: hidden;
}

._subtitle {
  color: rgba($color: $mainColor, $alpha: 1);
  font-size: 16px;
  line-height: 120%;
  letter-spacing: 0.2px;

  @media screen and (max-width: 768px) {
    font-size: 14px;
  }
}

.intermittent {
  width: 53px;
  display: grid;
  grid-template-columns: 8px 1fr 8px;
  align-items: center;
  gap: 5px;

  span {
    background-color: $accent;
    height: 4px;

    &:first-child {
      width: 7px;
      height: 7px;
      border-radius: 10px;
    }

    &:nth-child(2) {
      width: 100%;
    }

    &:last-child {
      width: 7px;
      height: 7px;
      border-radius: 10px;
    }
  }
}

._padding-section {
  padding: 30px 0px;

  @media screen and (max-width: 769px) {
    padding: 30px 0px;
  }
}

.info {
  display: flex;
  align-items: center;
  background-color: rgba($color: $blue, $alpha: 0.05);
  padding: 20px;

  // .info__icon
  &__icon {
    width: 47px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: $accent;
    color: $white;
    font-size: 20px;
    margin-right: 20px;
  }

  // .info__text
  &__text {
    font-size: 18px;

    span {
      font-weight: 600;
    }
  }
}

.link-more {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 40px;

  // .link-more__link
  &__link {
    color: $accent;
    font-size: 19px;
    font-weight: 600;
    position: relative;
    padding: 5px 0px;

    &::before {
      content: "";
      position: absolute;
      top: 100%;
      right: 0;
      width: 0%;
      height: 2px;
      background-color: $accent;
      transition: $animation_speed;
    }

    @media (hover:hover) {
      &:hover::before {
        left: 0;
        width: 100%;
      }
    }
  }
}

.swiper-button-prev,
.swiper-button-next {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid $accent;
}

.arrow {
  width: 100px;
  height: auto;
  display: flex;
  align-items: center;
  position: relative;
  font-weight: normal !important;

  &::after {
    content: "";
    width: 98%;
    height: 1px;
    background-color: $mainColor;
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
  }

  &::before {
    content: "";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
    display: inline-block;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 4px 0 4px 4px;
    border-color: transparent transparent transparent $mainColor;
  }

  &--left {
    &::before {
      left: 0;
      transform: rotate(180deg) translateY(-50%);
    }
  }
}

.breadcrumb {
  margin-top: 20px;

  // .breadcrumb__container

  &__container {}

  // .breadcrumb__inner

  &__inner {
    display: flex;
    align-items: center;
  }

  // .breadcrumb__item

  &__item {
    font-size: 13px;
    font-weight: 600;
    color: rgba($color: $mainColor, $alpha: .8);
  }

  p {
    color: rgba($color: $blue, $alpha: 1.0);
  }

  // .breadcrumb--link

  &--link {}

  // .breadcrumb__separator

  &__separator {
    padding: 0px 8px;
  }
}


// Блок "У вас что то случилось мы поможем"

.callback-block {
  padding: 60px 0px;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  position: relative;
  margin-bottom: 60px;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba($color: $mainColor, $alpha: .9);
  }

  // .callback-block__container

  &__container {}

  // .callback-block__inner

  &__inner {
    position: relative;
    z-index: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  // .callback-block__title

  &__title {
    font-size: 35px;
    font-weight: 500;
    color: rgba($color: $white, $alpha: 1.0);

    span {
      color: $white;
      font-weight: 800;
    }

    @media screen and (max-width: 425px) {
      text-align: center;
      // font-size: 30px;
    }
  }

  // .callback-block__phone

  &__phone {
    font-size: 25px;
    font-weight: 500;
    color: rgba($color: $white, $alpha: 1.0);
    margin-top: 35px;
  }

  // .callback-block__button

  &__button {
    background-color: rgba($color: $accent, $alpha: 1.0);
    width: 230px;
    height: 45px;
    color: rgba($color: $white, $alpha: 1.0);
    font-size: 14px;
    font-weight: 600;
    margin-top: 40px;
    transition: $animation_speed;

    @media (hover:hover) {
      &:hover {
        background-color: rgba($color: $accent, $alpha: .9);
      }
    }
  }
}

.input--hide {
  position: absolute;
  top: 0;
  left: 0;
  pointer-events: none;
  opacity: 0;
}

.consult {
  padding: 50px 0px 50px;
  position: relative;

  &::before {
    content: '';
    width: 300px;
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
    background-color: rgba($color: $blue, $alpha: .05);
    z-index: -1;
  }

  &::after {
    content: '';
    width: calc(100% - 300px);
    height: 250px;
    position: absolute;
    left: 0;
    top: 0%;
    background-color: rgba($color: $blue, $alpha: .05);
    z-index: -1;
  }

  // .consult__koleso
  &__koleso {
    position: absolute;
    bottom: 0;
    left: -150px;
    width: 400px;
    z-index: -1;
  }

  // .consult__container

  &__container {}

  // .consult__inner

  &__inner {
    max-width: 900px;
    margin: 0 auto;
  }

  // .consult__title

  &__title {
    text-align: center;
  }

  // .consult__subtitle

  &__subtitle {
    text-align: center;
    margin-bottom: 30px;
  }

  // .consult__form

  &__form {}
}

.consult-form {
  display: flex;
  flex-direction: column;
  align-items: center;

  // .consult-form__input

  &__input {
    width: 100%;
    height: 70px;
    margin-bottom: 30px;
    padding: 0px 20px;
    color: $mainColor;
    outline: none;
    border: 1px solid rgba($color: $mainColor, $alpha: .1);
    font-size: 16px;
    font-weight: 600;

    &:focus {
      border-color: rgba($color: $mainColor, $alpha: .3);
    }

    &::placeholder {
      font-weight: 600;
      color: rgba($color: $mainColor, $alpha: .4);
    }

    @media screen and (max-width: 425px) {
      margin-bottom: 15px;
    }
  }

  // .consult-form__textarea

  &__textarea {
    width: 100%;
    height: 170px;
    margin-bottom: 30px;
    padding: 20px 20px;
    color: $mainColor;
    outline: none;
    border: 1px solid rgba($color: $mainColor, $alpha: .1);
    font-size: 16px;
    font-weight: 600;

    &:focus {
      border-color: rgba($color: $mainColor, $alpha: .3);
    }

    &::placeholder {
      font-weight: 600;
      color: rgba($color: $mainColor, $alpha: .4);
    }

    @media screen and (max-width: 425px) {
      margin-bottom: 15px;
    }
  }

  // .consult-form__submit

  &__submit {
    background-color: rgba($color: $accent, $alpha: 1.0);
    height: 70px;
    width: 100%;
    align-self: flex-end;
    color: $white;
    font-size: 18px;
    font-weight: 600;
  }
}

._input--hide {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -100;
  pointer-events: none;
  visibility: hidden;
}