._title {
  color: $mainColor;
  font-size: 2.2vw;
  font-weight: 900;
  margin: 26px 0px 13px;
  color: rgba($color: $mainColor, $alpha: .8);
}

body {
  overflow-x: hidden;
}

._subtitle {
  color: rgba($color: $mainColor, $alpha: 1);
  font-size: 16px;
  line-height: 25px;
  letter-spacing: 0.2px;
}

.intermittent {
  width: 53px;
  display: grid;
  grid-template-columns: 8px 1fr 8px;
  align-items: center;
  gap: 5px;

  span {
    background-color: $accent;
    height: 4px;

    &:first-child {
      width: 7px;
      height: 7px;
      border-radius: 10px;
    }

    &:nth-child(2) {
      width: 100%;
    }

    &:last-child {
      width: 7px;
      height: 7px;
      border-radius: 10px;
    }
  }
}

._padding-section {
  padding: 30px 0px;

  @media screen and (max-width: 769px) {
    padding: 30px 0px;
  }
}

.info {
  display: flex;
  align-items: center;
  background-color: rgba($color: $blue, $alpha: 0.05);
  padding: 20px;

  // .info__icon
  &__icon {
    width: 47px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: $accent;
    color: $white;
    font-size: 20px;
    margin-right: 20px;
  }

  // .info__text
  &__text {
    font-size: 18px;

    span {
      font-weight: 600;
    }
  }
}

.link-more {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 40px;

  // .link-more__link
  &__link {
    color: $accent;
    font-size: 19px;
    font-weight: 600;
    position: relative;
    padding: 5px 0px;

    &::before {
      content: "";
      position: absolute;
      top: 100%;
      right: 0;
      width: 0%;
      height: 2px;
      background-color: $accent;
      transition: $animation_speed;
    }

    &:hover::before {
      left: 0;
      width: 100%;
    }
  }
}

.swiper-button-prev,
.swiper-button-next {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid $accent;
}

.arrow {
  width: 100px;
  height: auto;
  display: flex;
  align-items: center;
  position: relative;
  font-weight: normal !important;

  &::after {
    content: "";
    width: 98%;
    height: 1px;
    background-color: $mainColor;
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
  }

  &::before {
    content: "";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
    display: inline-block;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 4px 0 4px 4px;
    border-color: transparent transparent transparent $mainColor;
  }

  &--left {
    &::before {
      left: 0;
      transform: rotate(180deg) translateY(-50%);
    }
  }
}