.header {
  width: 100%;
  position: fixed;
  top: 40px;
  left: 0;
  background-color: $blue;
  height: 100px;
  z-index: 99;

  &::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 27%;
    height:105px;
    box-shadow: 2px 2px 5px 0px rgba($color: $mainColor, $alpha: .3);
    transform: skew(-15deg) translateX(-5%);
    background-color: $white;
    z-index: 2;

    @media screen and (max-width: 1565px) {
      width: 22%;
    }

    // @media screen and (min-width: 1640px) {
    //   width: 25%;
    // }
  }

  &__container {
    width: 100%;
    position: relative;
  }

  &__row {
    width: 100%;
    display: grid;
    grid-template-columns: 20% 80%;
    gap: 20px;
  }

  &__col {
    padding: 20px 0px;
    position: relative;
    z-index: 2;
    &:first-child{

    }
  }

  &__logo {
    width: 170px;
    display: flex;
    align-items: center;
    position: relative;
    z-index: 3;
   
    img{
      max-width: 100%;
    }
  }

  &__menu {
  }
}
.menu {
  width: 100%;
  height: 100%;
  display: flex;

  &__list {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }

  &__item {
    padding: 10px 0px;
    display: flex;
    align-items: center;
    cursor: pointer;
    position: relative;
    
    &:not(:last-child){
      margin-right: 1.5vw;
    }

    &::before{
      content: '';
      position: absolute;
      bottom: 0px;
      right: 0;
      width: 0%;
      height: 1px;
      background-color: rgba($color: $white, $alpha: .8);
      transition: $animation_speed;
    }

    @media (hover:hover) {
      &:hover{
      
        &::before{
          left: 0%;
          width: 100%;
        }
        .submenu{
          transform: translateY(0%);
          pointer-events: all;
          opacity: 1;
        }
    }
      
    }
  }

  &__arrow{
    content: "";
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid $accent;
    margin-left: 5px;
    margin-top: 3px;
    transition: $animation_speed;
  }

  &__link {
    color: $white;
    font-weight: 500;
    letter-spacing: .05em;
    transition: $animation_speed;
    font-size: 17px;

    @media (hover: hover) {
      &:hover{
        opacity: .8;
      }
    }
  }
}

.header-top {
  width: 100%;
  padding: 10px 0px;
  height: 40px;
  position: fixed;
  top: 0;
  left: 0;
  background-color: $mainColor;
  // background-color: $accent;
  z-index: 99;

  &__container {
    width: 100%;
    height: 100%;
  }

  &__row {
    display: flex;
    height: 100%;
  }

  &__col {
    display: flex;
    align-items: center;

    &:last-child{
      flex: 1 1 auto;
      justify-content: flex-end;
    }
  }

  &__item {
    color: $white;
    font-size: 11px;
    display: flex;
    align-items: center;

    &:not(:last-child){
      margin-right: 5vw;
    }

    i{
      margin-right: 3px;
      font-size: 10px;
    }
  }

  &__social {
    display: flex;
    align-items: center;
    margin-right: 3vw;
  }

  &__social--link {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    &::before{
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }

    &:not(:last-child){
      margin-right: .7vw;
    }

    i{
      color: $white;
      font-size: 20px;
    }
  }

  &__btn {
    background-color: $accent;
    padding: 10px 30px;
    border: 0px;
    border-radius: 2px;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: .3px;
    color: $white;
  }
}

.submenu {
  position: absolute;
  top: 100%;
  background-color: $white;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  min-width: 500px;
  // gap: 0px 25px;
  box-shadow: 0px 2px 12px 0px rgba($color: #000000, $alpha: .1);
  transform: translateY(10%);
  opacity: 0;
  pointer-events: none;
  transition: $animation_speed;

  &__item {
    padding: 20px 20px;
    border-bottom: 1px dashed rgba($color: #000000, $alpha: .05);

    &:hover{
      background-color: rgba($color: $blue, $alpha: .05);
    }
  }

  &__link {
    font-size: 14px;
    font-weight: 500;
  }
}


