.utp {
  padding-top: 150px;
  position: relative;
  height: 90vh;

  // .utp__car
  &__car {
    position: absolute;
    right: 0;
    top: 20%;
  }

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 45%;
    height: 100%;
    background-image: url(../img/shap.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    z-index: -1;
  }

  &::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 45%;
    height: 100%;
    background-color: rgba(23, 33, 38, 0.7);
  }

  // .utp__container

  &__container {}

  // .utp__inner

  &__inner {
    position: relative;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  // .utp__image

  &__image {
    position: relative;

    &::before {
      content: '';
      position: absolute;
      right: 0;
      top: -40px;
      width: 200px;
      height: 300px;
      background-color: $accent;
      z-index: -1;
    }

    img {
      max-width: 800px;
    }
  }

  // .utp__content

  &__content {
    display: flex;
    flex-direction: column;
    align-self: flex-end;
    background-color: rgba($color: $white, $alpha: 1.0);
    min-width: 600px;
    padding: 50px;
    transform: translate(-200px, 100px);
  }

  // .utp__phone

  &__phone {
    font-size: 22px;
    font-weight: 600;
    font-family: $secondaryFont;
    margin: 20px 0px 20px;
    color: rgba($color: $mainColor, $alpha: .8);
    transition: $animation_speed;

    &:hover {
      color: $accent;
    }
  }

  // .utp__addres

  &__addres {
    font-size: 15px;
    color: rgba($color: $mainColor, $alpha: .8);
    font-weight: 600;
    margin-bottom: 30px;
  }

  // .utp__title

  &__title {
    font-size: 30px;
    font-weight: 700;
    color: rgba($color: $mainColor, $alpha: .8);
    margin-bottom: 20px;
  }

  // .utp__subtitle

  &__subtitle {
    margin-bottom: 40px;
    font-size: 15px;
    font-weight: 500;
    color: rgba($color: $mainColor, $alpha: .7);
  }

  // .utp__btn

  &__btn {
    background-color: rgba($color: $accent, $alpha: 1.0);
    padding: 20px 10px;
    color: rgba($color: $white, $alpha: 1.0);
    font-weight: 600;
    transition: $animation_speed;

    &:hover {
      background-color: rgba($color: $accent, $alpha: .9);
    }
  }
}


.service {
  background: rgba($color: $mainColor, $alpha: .01);
  position: relative;

  // .service__image
  &__image {
    position: absolute;
    bottom: 10%;
    right: 0%;
    opacity: .5;
  }

  &::before {
    content: '';
    position: absolute;
    top: 50%;
    right: 0;
    width: 50%;
    height: 30%;
    background-color: rgba($color: $blue, $alpha: .03);
  }

  &::after {
    content: '';
    position: absolute;
    top: 25%;
    left: 0;
    width: 30%;
    height: 30%;
    background-color: rgba($color: $blue, $alpha: .04);
    z-index: -1;
  }

  // .service__container
  &__container {
    display: flex;
    flex-direction: column;
  }

  // .service__title
  &__title {
    margin: 26px 0px 13px;
  }

  // .service__subtitle
  &__subtitle {
    max-width: 700px;
  }

  // .service__body
  &__body {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
    gap: 30px;
    margin-top: 60px;
  }

  // .service__card
  &__card {
    border-radius: 3px;
    background: #FFFFFE;
    box-shadow: 0px 10px 15px 0px rgba(1, 45, 91, 0.05);
    position: relative;

    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 3px;
      background-color: $accent;
      border-radius: 3px 3px 0px 0px;
      transition: $animation_speed;

      @media screen and (min-width: 769px) {
        width: 0%;
      }
    }

    @media screen and (min-width: 769px) {

      &:hover {
        box-shadow: 0px 0px 5px 0px rgba(1, 45, 91, 0.05);
      }
    }
  }

  // .service__link
  &__link {
    color: $accent;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: .2px;
    position: relative;
    display: inline-flex !important;
    margin-top: 50px;
    padding: 15px 40px;
    align-self: flex-start;
    border: 1px solid rgba($color: $accent, $alpha: 1.0);

    &:hover {
      background-color: $accent;
      color: $white;
    }
  }
}

.card-service {
  border: 1px solid rgba($color: $mainColor, $alpha: .15);

  // .card-service__top
  &__top {
    padding: 25px;
  }

  // .card-service__icon
  &__icon {
    display: flex;
    width: 85px;
    height: 85px;
    padding: 26.5px;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    background: $white;
    box-shadow: 0px 0px 0px 6px rgba(18, 18, 18, 0.02), 0px 10px 10px 0px rgba(1, 45, 91, 0.07);
    margin-bottom: 35px;

    img {
      width: 52px;
      height: 52px;
    }
  }

  // .card-service__title
  &__title {
    color: $mainColor;
    font-size: 20px;
    font-weight: 700;
    line-height: 31px;
    letter-spacing: 0.2px;
    margin-bottom: 22px;
    display: block;
    transition: $animation_speed;

    &:hover {
      color: $accent;
    }
  }

  // .card-service__price
  &__price {
    color: rgba(18, 18, 18, 0.75);
    font-size: 17px;
    letter-spacing: 0.2px;

    span {
      color: $mainColor;
      font-size: 24px;
      font-weight: 700;
    }
  }

  // .card-service__btns
  &__btns {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  // .card-service__btn
  &__btn {
    position: relative;
    color: $white;
    font-size: 17px;
    font-weight: 500;
    letter-spacing: 0.4px;
    text-align: center;
    padding: 15px 30px;
    margin-top: 30px;
    border: 1px solid rgba(18, 18, 18, 0.04);
    transition: $animation_speed;
    background-color: $accent;

    &--trnsp {
      background-color: $white;
      border: 1px solid rgba($color: $accent, $alpha: 1.0);
      color: $accent;

      &:hover {
        background-color: $accent !important;
        color: $white !important;
      }
    }

    &:hover {
      background-color: $white;
      color: $mainColor;
      border: 1px solid rgba(18, 18, 18, 0.4);
    }

    span {
      position: relative;
      z-index: 2;
    }
  }
}

.edge {

  // .edge__row
  &__row {
    position: relative;

    &:first-child {
      padding: 100px 0px 200px;
      background-attachment: fixed;
      background-position: center center;

      &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba($color: $mainColor, $alpha: 0.7);
      }
    }

    &:last-child {
      margin-top: -120px;
    }
  }

  // .edge__container
  &__container {
    position: relative;
    z-index: 2;
  }

  // .edge__title
  &__title {
    color: $white;
  }

  // .edge__subtitle
  &__subtitle {
    color: rgba($color: $white, $alpha: 1);
  }

  // .edge__body
  &__body {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
    gap: 30px;
  }

  // .edge__card
  &__card {
    padding: 45px 45px;
    border-radius: 3px;
    background: #fffffe;
    box-shadow: 0px 10px 15px 0px rgba(1, 45, 91, 0.05);
    display: flex;
    align-items: center;
    position: relative;
    transition: $animation_speed;

    &::before {
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      width: 3px;
      height: 100%;
      background-color: $accent;
      border-radius: 3px 0px 0px 3px;
      transition: $animation_speed;

      @media screen and (min-width: 769px) {
        height: 0%;
      }
    }

    &:hover {
      box-shadow: 0px 0px 5px 0px rgba(1, 45, 91, 0.05);

      &::before {
        height: 100%;
      }

      .edge__icon {
        box-shadow:
          0px 0px 0px 2px rgba(18, 18, 18, 0.02),
          0px 0px 5px 0px rgba(1, 45, 91, 0.07);
      }
    }
  }

  // .edge__content
  &__content {}

  // .edge__icon
  &__icon {
    display: flex;
    width: 65px;
    height: 65px;
    padding: 25.5px 26.5px;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    background: $white;
    box-shadow:
      0px 0px 0px 6px rgba(18, 18, 18, 0.02),
      0px 10px 10px 0px rgba(1, 45, 91, 0.07);
    margin-right: 40px;
    transition: $animation_speed;

    img {
      width: 35px;
      height: 35px;
    }
  }

  // .edge__title--card
  &__title--card {
    color: $mainColor;
    font-size: 23px;
    font-weight: 700;
    line-height: 31px;
    letter-spacing: 0.2px;
    margin-bottom: 12px;
  }

  // .edge__text
  &__text {
    color: rgba($color: $mainColor, $alpha: 0.65);
    font-size: 18px;
    line-height: 25px;
    letter-spacing: 0.2px;
  }
}

.enroll {
  padding: 80px 0px;
  margin-top: 40px;
  position: relative;
  background-attachment: fixed;
  background-size: cover;
  background-position: 0% 0%;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba($color: $mainColor, $alpha: 0.7);
  }

  // .enroll__container
  &__container {
    position: relative;
    z-index: 2;
  }

  // .enroll__body
  &__body {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  // .enroll__col
  &__col {}

  // .enroll__title
  &__title {
    color: $white;
  }

  // .enroll__subtitle
  &__subtitle {
    color: rgba($color: $white, $alpha: 0.7);
  }

  // .enroll__btn
  &__btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 300px;
    height: 60px;
    border-radius: 3px;
    background: $accent;
    box-shadow: 0px 10px 15px 0px rgba(200, 8, 22, 0.15);
    color: $white;
    text-align: center;
    font-size: 17px;
    font-weight: 500;
    letter-spacing: 0.2px;
    transition: $animation_speed;

    &:hover {
      background: rgba($color: $accent, $alpha: 0.9);
    }
  }
}

.cost-work {
  position: relative;

  &::before {
    content: "";
    background-color: rgba($color: $blue, $alpha: 0.03);
    width: 30%;
    height: 40%;
    position: absolute;
    top: 30%;
    right: 0%;
    z-index: -1;
  }

  // .cost-work__container
  &__container {}

  // .cost-work__body
  &__body {
    width: 100%;
  }

  // .cost-work__title
  &__title {}

  // .cost-work__subtitle
  &__subtitle {}

  // .cost-work__row
  &__row {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
    margin-top: 40px;
  }

  // .cost-work__col
  &__col {}

  .spollers {}

  .spollers__item {}

  .spollers__title {
    height: 90px;
    border-radius: 3px;
    background-color: $blue;
    color: $white;
    padding: 0px 30px;
    transition: $animation_speed;
    display: flex;
    align-items: center;

    &::before,
    &::after {
      background-color: $accent;
      width: 10px;
      right: 30px;
    }

    &:hover {
      background-color: rgba($color: $blue, $alpha: 0.96);

      svg {
        margin-left: 5px;
      }
    }

    svg {
      width: 10px;
      height: 100px;
      fill: $accent;
      margin-right: 10px;
      transition: $animation_speed;
    }
  }

  .spollers__body {}

  // .cost-work__service
  &__service {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px dashed rgba($color: $blue, $alpha: 0.2);
    padding: 10px;
  }

  // .cost-work__name
  &__name {
    @media (hover: hover) {}

    @media (hover: none) {}
  }

  // .cost-work__price
  &__price {
    span {
      font-weight: 800;
      font-size: 25px;
      color: $blue;
    }
  }

  // .cost-work__bottom
  &__bottom {
    display: flex;
    align-items: center;
    margin-top: 30px;
  }

  // .cost-work__btn
  &__btn {
    width: 290px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $accent;
    margin-left: 30px;
    border-radius: 3px;
    color: $white;
    text-align: center;
    font-size: 17px;
    font-weight: 500;
    letter-spacing: 0.2px;
    transition: $animation_speed;

    &:hover {
      background-color: rgba($color: $accent, $alpha: 0.85);
    }
  }
}

.action {
  background-color: rgba($color: $blue, $alpha: 0.02);

  // .action__container
  &__container {
    position: relative;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      width: 40%;
      height: 100%;
      background-color: rgba($color: $blue, $alpha: 0.03);
      z-index: -1;
    }
  }

  // .action__body
  &__body {}

  // .action__title
  &__title {}

  // .action__subtitle
  &__subtitle {}

  // .action__row
  &__row {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
    gap: 30px;
    margin-top: 40px;
  }

  // .action__card
  &__card {}
}

.card-action {
  box-shadow: 0px 10px 15px 0px rgba(1, 45, 91, 0.05);
  background-color: $white;
  display: flex;
  flex-direction: column;

  &:hover {
    .card-action__img {
      img {
        transform: scale(1.01);
      }
    }

    .card-action__btn {
      color: $white;

      &::before {
        height: 100%;
      }
    }
  }

  // .card-action__img
  &__img {
    display: block;
    overflow: hidden;
    max-height: 300px;
    border-radius: 3px;

    img {
      max-width: 100%;
      transition: $animation_speed;
    }
  }

  // .card-action__middle
  &__middle {
    position: relative;
    padding: 30px 30px;
    flex: 1 1 auto;
  }

  // .card-action__title
  &__title {
    color: $mainColor;
    font-size: 23px;
    font-weight: 700;
    line-height: 31px;
    letter-spacing: 0.2px;
    margin-bottom: 5px;
    display: block;
    transition: $animation_speed;

    &:hover {
      color: $accent;
    }
  }

  // .card-action__date
  &__date {
    color: rgba($color: $mainColor, $alpha: 0.7);
    font-size: 13px;
    line-height: 25px;
    letter-spacing: 0.2px;
    margin-bottom: 26px;
    font-weight: 700;

    span {
      color: $blue;
    }
  }

  // .card-action__text
  &__text {
    color: rgba($color: $mainColor, $alpha: 0.65);
    font-size: 16px;
    line-height: 120%;
    letter-spacing: 0.2px;
  }

  // .card-action__btn
  &__btn {
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid rgba($color: $blue, $alpha: 0.05);

    color: #121212;
    font-size: 17px;
    font-weight: 500;
    letter-spacing: 0.4px;
    position: relative;
    transition: $animation_speed;

    span {
      position: relative;
      z-index: 2;
    }

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: $accent;
      transition: $animation_speed;

      @media screen and (min-width: 769px) {
        height: 0%;
      }
    }
  }
}

.coast {
  position: relative;

  // .coast__container
  &__container {}

  // .coast__body
  &__body {
    position: relative;
    z-index: 2;
    background-color: $white;
    padding: 30px;
    border-radius: 3px;
  }

  // .coast__title
  &__title {
    font-size: 40px;
  }

  // .coast__subtitle
  &__subtitle {}

  // .coast__form
  &__form {
    margin-top: 30px;
    display: grid;
    grid-template-columns: 250px 1fr 200px;
    gap: 15px;
  }

  // .coast__input
  &__input {
    width: 100%;
    height: 60px;
    border: 1px solid rgba($color: $blue, $alpha: 0.3);
    padding: 0px 10px;
    border-radius: 5px;
    outline: none;

    &:focus {
      border-color: rgba($color: $blue, $alpha: 0.6);
    }
  }

  // .coast__submit
  &__submit {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    background-color: $accent;
    color: $white;
    text-align: center;
    font-size: 17px;
    font-weight: 500;
    letter-spacing: 0.2px;
    border-radius: 3px;
    transition: $animation_speed;

    &:hover {
      background-color: rgba($color: $accent, $alpha: 0.9);
    }
  }
}

.faq {
  background-size: cover;
  background-attachment: fixed;
  padding: 60px 0px;
  position: relative;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(23, 33, 38, 0.7);
  }

  // .faq__container

  &__container {}

  // .faq__inner

  &__inner {
    position: relative;
  }

  // .faq__title
  &__title {
    color: $white;
    margin-bottom: 30px;
  }

}

.spollers {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 25px;

  // .spollers__item

  &__item {
    background-color: $white;
    border-radius: 5px;
  }

  // .spollers__title

  &__title {
    font-size: 16px;
    padding: 15px 20px;

    &::before,
    &::after {
      width: 10px !important;
    }
  }

  // .spollers__body

  &__body {
    font-size: 14px;
  }
}