.utp {
    position: relative;

    &::before {
        content: '';
        position: absolute;
        right: 0;
        bottom: 0;
        width: 50%;
        height: 320px;
        background-color: $blue;
        z-index: 0;
    }

    &::after{
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 50%;
      height: 100%;
      background-color: #FFFFFE;
      z-index: -2;
    }

    // .utp__container
    &__container {}

    // .utp__body
    &__body {
        display: flex;
    }

    // .utp__col
    &__col {

        &--left {
            flex: 0 0 100%;
            position: relative;
            z-index: 2;
        }

        &--right {
            width: 100%;
            height: 100%;

            img {
                max-width: 100%;
            }
        }

    }

    // .utp__header
    &__header {}

    // .utp__title
    &__title {
        color: #121212;
        font-size: 86px;
        font-weight: 900;
        margin: 26px 0px 13px;
    }

    // .utp__subtitle
    &__subtitle {
        color: #121212;
        font-size: 18px;
        font-family: Roboto;
        line-height: 25px;
        letter-spacing: 0.2px;
        max-width: 455px;
    }

    // .utp__image
    &__image {
        position: absolute;
        transform: translateX(40%);
        right: 0%;
        width: 100%;
        height: 100%;
        opacity: .3;
        z-index: -1;
        object-fit: cover;
    }

    // .utp__content
    &__content {
        position: relative;
        width: 100%;
        height: 100%;
        margin-top: 115px;
    }

    // .utp__slider
    &__slider {

        .swiper-button-prev {
            left: 30.04%;
            top: 7%;
            background-color: $blue;
            width: 60px;
            height: 60px;
            display: flex;
            align-items: center;
            justify-content: center;

            &::after {
                font-size: 16px !important;
                color: $white;
                font-weight: 600;
            }
        }

        .swiper-button-next {
            left: 30.04%;
            top: 25%;
            background-color: $blue;
            width: 60px;
            height: 60px;
            display: flex;
            align-items: center;
            justify-content: center;

            &::after {
                font-size: 16px !important;
                color: $white;
                font-weight: 600;
            }
        }
    }

    // .utp__wrapper
    &__wrapper {}

    // .utp__slide 
    &__slide {
        display: flex;
        align-items: center;
        background-color: $blue;

        &--img {
            margin-right: 40px;
            max-width: 455px;

            img {
                max-width: 100%;
                height: 320px;
            }
        }

        &--content {}

        &--title {
            color: $white;
            font-size: 32px;
            font-family: Roboto;
            font-weight: 700;
            line-height: 32px;
            letter-spacing: 0.2px;
            margin-bottom: 14px;
        }

        &--text {
            color: rgba(255, 255, 255, 0.50);
            font-size: 19px;
            font-family: Roboto;
            line-height: 25px;
            letter-spacing: 0.2px;
            max-width: 740px;
            margin-bottom: 20px;
        }

        &--link {
            color: #C80816;
            font-size: 19px;
            font-family: Roboto;
            font-weight: 700;
            letter-spacing: 0.8px;
            text-decoration: underline !important;
        }
    }
}

.header-utp {
    display: flex;
    align-items: center;
    margin-bottom: 153px;

    // .header-utp__burger
    &__burger {
        position: fixed;
        right: 0;
        top: 50px;
        width: 65px;
        height: 65px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: $accent;
        border-radius: 3px;

        svg {
            fill: $white;
        }
    }

    // .header-utp__logo
    &__logo {
        flex: 1 1 auto;

        img {
            width: 150px;
            opacity: .85;
        }
    }

    // .header-utp__action
    &__action {
        display: flex;
        align-items: center;
        position: relative;
    }

    // .header-utp__phone
    &__phone {
        color: #121212;
        font-size: 25px;
        font-weight: 900;
        margin-right: 24px;
    }

    // header-utp__btn
    &__btn {
        display: flex;
        width: 60px;
        height: 60px;
        justify-content: center;
        align-items: center;
        border-radius: 3px;
        background: #FFF;
        box-shadow: 0px 10px 15px 0px rgba(1, 45, 91, 0.10);
        position: relative;
        margin-right: 25px;
        transition: $animation_speed;

        &:hover {
            box-shadow: 0px 0px 5px 0px rgba(1, 45, 91, 0.10);
        }


        &::before {
            content: '';
            width: 0;
            height: 0;
            border-left: 5px solid transparent;
            border-right: 5px solid transparent;
            border-top: 5px solid $blue;
            transition: $animation_speed;
        }

        &._active::before {
            transform: rotate(-180deg);
        }
    }

    // .header-utp__hidden
    &__hidden {
        display: none;
        position: absolute;
        top: 100%;
        bottom: auto;
        right: 0;
        left: 0;
        width: 100%;
        background-color: $white;
        padding: 50px;
        margin-top: 20px;
        border-radius: 3px;
        box-shadow: 0px 5px 10px 0px rgba($mainColor, 0.05);

        &._active {
            display: block;
        }
    }

    // .header-utp__btn--red
    &__btn--red {
        display: flex;
        padding: 20px 25.36px 20px 25px;
        align-items: flex-start;
        border-radius: 3px;
        background: $accent;
        box-shadow: 0px 10px 15px 0px rgba(200, 8, 22, 0.15);
        color: #FFF;
        font-size: 17px;
        letter-spacing: 0.2px;
        transition: $animation_speed;

        &:hover {
            background: rgba($color: $accent, $alpha: .9);
            box-shadow: 0px 0px 5px 0px rgba(200, 8, 22, 0.15);
        }
    }
}

.hidden-content {

    // .hidden-content__address
    &__address {
        font-size: 17px;
        line-height: 140%;
        margin-bottom: 10px;
    }

    // .hidden-content__link
    &__link {
        font-size: 17px;
        display: inline-flex;
        color: rgba($color: $grey, $alpha: .7);
        text-decoration: underline !important;
        transition: $animation_speed;

        &:hover {
            color: $mainColor;
        }
    }

    // .hidden-content__action
    &__action {
        display: flex;
        flex-direction: column;
    }

    // .hidden-content__phone
    &__phone {
        font-size: 23px;
        margin: 20px 0px;
        font-weight: 400;
        transition: $animation_speed;

        &:hover {
            color: $accent;
        }
    }

    // .hidden-content__social
    &__social {
        display: flex;

        a {
            &:not(:last-child) {
                margin-right: 15px;
            }
        }

        i {
            color: $blue;
            font-size: 35px;
        }
    }

    // .hidden-content__mail
    &__mail {
        font-size: 17px;
        margin-bottom: 25px;
    }

    // .hidden-content__time
    &__time {
        font-size: 17px;

        &--last {
            margin: 10px 0px 25px;
        }
    }
}

.service {
    background: rgba($color: $mainColor, $alpha: .01);
    position: relative;

    &::before {
        content: '';
        position: absolute;
        top: 50%;
        right: 0;
        width: 50%;
        height: 30%;
        background-color: rgba($color: $blue, $alpha: .03);
    }

    &::after {
        content: '';
        position: absolute;
        top: 25%;
        left: 0;
        width: 30%;
        height: 30%;
        background-color: rgba($color: $blue, $alpha: .04);
        z-index: -1;
    }

    // .service__container
    &__container {
        display: flex;
        flex-direction: column;
    }

    // .service__title
    &__title {}

    // .service__subtitle
    &__subtitle {}

    // .service__body
    &__body {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
        gap: 30px;
        margin-top: 60px;
    }

    // .service__card
    &__card {
        border-radius: 3px;
        background: #FFFFFE;
        box-shadow: 0px 10px 15px 0px rgba(1, 45, 91, 0.05);
        position: relative;

        &::before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 3px;
            background-color: $accent;
            border-radius: 3px 3px 0px 0px;
            transition: $animation_speed;

            @media screen and (min-width: 769px) {
                width: 0%;
            }
        }

        @media screen and (min-width: 769px) {

            &:hover {
                box-shadow: 0px 0px 5px 0px rgba(1, 45, 91, 0.05);

                &::before {
                    width: 100%;
                }

                .card-service__btn {
                    color: $white;

                    &::before {
                        height: 100%;
                    }
                }
            }
        }
    }

    // .service__link
    &__link {
        color: $accent;
        font-size: 22px;
        font-weight: 700;
        letter-spacing: .2px;
        position: relative;
        display: inline-flex !important;
        margin-top: 50px;
        padding: 5px 0px;
        align-self: flex-end;


        &::before {
            content: '';
            display: block;
            position: absolute;
            top: 100%;
            right: 0;
            width: 0%;
            height: 3px;
            background-color: $accent;
            transition: $animation_speed;
        }

        &:hover::before {
            width: 100%;
            left: 0%;
        }
    }
}

.card-service {

    // .card-service__top
    &__top {
        padding: 55px;
    }

    // .card-service__icon
    &__icon {
        display: flex;
        width: 85px;
        height: 85px;
        padding: 26.5px;
        justify-content: center;
        align-items: center;
        border-radius: 10px;
        background: $white;
        box-shadow: 0px 0px 0px 6px rgba(18, 18, 18, 0.02), 0px 10px 10px 0px rgba(1, 45, 91, 0.07);
        margin-bottom: 35px;

        img {
            width: 32px;
            height: 32px;
        }
    }

    // .card-service__title
    &__title {
        color: $mainColor;
        font-size: 26px;
        font-weight: 700;
        line-height: 31px;
        letter-spacing: 0.2px;
        margin-bottom: 22px;
        display: block;
        transition: $animation_speed;

        &:hover {
            color: $accent;
        }
    }

    // .card-service__text
    &__text {
        color: rgba($color: $mainColor, $alpha: .65);
        font-size: 18px;
        line-height: 25px;
        letter-spacing: 0.3px;
        margin-bottom: 30px;
    }

    // .card-service__price
    &__price {
        color: rgba(18, 18, 18, 0.75);
        font-size: 17px;
        letter-spacing: 0.2px;

        span {
            color: $mainColor;
            font-size: 28px;
            font-weight: 700;
        }
    }

    // .card-service__btn
    &__btn {
        position: relative;
        color: $mainColor;
        font-size: 17px;
        font-weight: 500;
        letter-spacing: 0.4px;
        text-align: center;
        padding: 30px 0px;
        width: 100%;
        border-top: 1px solid rgba(18, 18, 18, 0.04);

        span {
            position: relative;
            z-index: 2;
        }

        &::before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: $accent;
            z-index: 0;
            transition: $animation_speed;

            @media screen and (min-width: 769px) {
                height: 0px;
            }
        }
    }
}

.stage {

    // .stage__container
    &__container {}

    // .stage__body
    &__body {}

    // .stage__title
    &__title {}

    // .stage__row
    &__row {
        background-color: $blue;
        border-radius: 25px;
        margin-top: 40px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    // .stage__card
    &__card {
        padding: 50px;
        border: 1px solid rgba($color: $white, $alpha: .1);
        cursor: pointer;

        &:hover {
            .stage-card__number {
                color: $white;
            }

            .stage-card__line {
                width: 60px;
            }
        }
    }
}

.stage-card {

    // .stage-card__number
    &__number {
        font-size: 3vw;
        font-weight: 800;
        color: rgba($color: $white, $alpha: .2);
        display: flex;
        align-items: center;
        transition: $animation_speed;
    }

    // .stage-card__line
    &__line {
        display: block;
        width: 8px;
        height: 8px;
        border-radius: 5px;
        background-color: $accent;
        margin-right: 7px;
        transition: $animation_speed;
    }

    // .stage-card__title
    &__title {
        font-size: 1.4vw;
        color: $white;
        font-weight: 700;
        line-height: 130%;
        letter-spacing: .5px;
        margin: 20px 0px 20px;
    }

    // .stage-card__text
    &__text {
        color: rgba($color: $white, $alpha: .7);
        font-size: 20px;
        line-height: 120%;
    }
}

.edge {

    // .edge__row
    &__row {
        position: relative;

        &:first-child {
            padding: 100px 0px 200px;
            background-attachment: fixed;
            background-position: center center;

            &::before {
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background-color: rgba($color: $blue, $alpha: .9);
            }
        }

        &:last-child {
            margin-top: -120px;
        }
    }

    // .edge__container
    &__container {
        position: relative;
        z-index: 2;
    }

    // .edge__title
    &__title {
        color: $white;
    }

    // .edge__subtitle
    &__subtitle {
        color: rgba($color: $white, $alpha: .7);
    }

    // .edge__body
    &__body {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
        gap: 30px;
    }

    // .edge__card
    &__card {
        padding: 75px 64px;
        border-radius: 3px;
        background: #FFFFFE;
        box-shadow: 0px 10px 15px 0px rgba(1, 45, 91, 0.05);
        display: flex;
        align-items: center;
        position: relative;
        transition: $animation_speed;

        &::before {
            content: '';
            position: absolute;
            left: 0;
            top: 0;
            width: 3px;
            height: 100%;
            background-color: $accent;
            border-radius: 3px 0px 0px 3px;
            transition: $animation_speed;

            @media screen and (min-width: 769px) {
                height: 0%;
            }
        }


        &:hover {
            box-shadow: 0px 0px 5px 0px rgba(1, 45, 91, 0.05);

            &::before {
                height: 100%;
            }

            .edge__icon {
                box-shadow: 0px 0px 0px 2px rgba(18, 18, 18, 0.02), 0px 0px 5px 0px rgba(1, 45, 91, 0.07);
            }
        }
    }

    // .edge__content
    &__content {}

    // .edge__icon
    &__icon {
        display: flex;
        width: 85px;
        height: 85px;
        padding: 25.5px 26.5px;
        justify-content: center;
        align-items: center;
        border-radius: 10px;
        background: $white;
        box-shadow: 0px 0px 0px 6px rgba(18, 18, 18, 0.02), 0px 10px 10px 0px rgba(1, 45, 91, 0.07);
        margin-right: 40px;
        transition: $animation_speed;

        img {
            width: 35px;
            height: 35px;
        }
    }

    // .edge__title--card
    &__title--card {
        color: $mainColor;
        font-size: 26px;
        font-weight: 700;
        line-height: 31px;
        letter-spacing: 0.2px;
        margin-bottom: 12px;
    }

    // .edge__text
    &__text {
        color: rgba($color: $mainColor, $alpha: .65);
        font-size: 18px;
        line-height: 25px;
        letter-spacing: 0.2px;
    }
}

.enroll {
    padding: 100px 0px;
    margin-top: 100px;
    position: relative;
    background-attachment: fixed;
    background-size: cover;
    background-position: 0% 0%;

    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba($color: $blue, $alpha: .9);
    }

    // .enroll__container
    &__container {
        position: relative;
        z-index: 2;
    }

    // .enroll__body
    &__body {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    // .enroll__col
    &__col {}

    // .enroll__title
    &__title {
        color: $white;
    }

    // .enroll__subtitle
    &__subtitle {
        color: rgba($color: $white, $alpha: .7);
    }

    // .enroll__btn
    &__btn {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 300px;
        height: 60px;
        border-radius: 3px;
        background: $accent;
        box-shadow: 0px 10px 15px 0px rgba(200, 8, 22, 0.15);
        color: $white;
        text-align: center;
        font-size: 17px;
        font-weight: 500;
        letter-spacing: 0.2px;
        transition: $animation_speed;

        &:hover {
            background: rgba($color: $accent, $alpha: .9);
        }

    }
}

.cost-work {
    position: relative;

    &::before {
        content: '';
        background-color: rgba($color: $blue, $alpha: .03);
        width: 30%;
        height: 40%;
        position: absolute;
        top: 30%;
        right: 0%;
        z-index: -1;
    }

    // .cost-work__container
    &__container {}

    // .cost-work__body
    &__body {
        width: 100%;
    }

    // .cost-work__title
    &__title {}

    // .cost-work__subtitle
    &__subtitle {}

    // .cost-work__row
    &__row {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 30px;
        margin-top: 40px;
    }

    // .cost-work__col
    &__col {}

    .spollers {}

    .spollers__item {}

    .spollers__title {
        height: 90px;
        border-radius: 3px;
        background-color: $blue;
        color: $white;
        padding: 0px 30px;
        transition: $animation_speed;
        display: flex;
        align-items: center;

        &::before,
        &::after {
            background-color: $accent;
            width: 10px;
            right: 30px;
        }

        &:hover {
            background-color: rgba($color: $blue, $alpha: .96);

            svg {
                margin-left: 5px;
            }
        }

        svg {
            width: 10px;
            height: 100px;
            fill: $accent;
            margin-right: 10px;
            transition: $animation_speed;
        }
    }

    .spollers__body {}

    // .cost-work__service
    &__service {
        display: flex;
        justify-content: space-between;
        border-bottom: 1px dashed rgba($color: $blue, $alpha: .2);
        padding: 10px;
    }

    // .cost-work__name
    &__name {
      @media (hover:hover) {
      
      }

      @media (hover:none) {
        
      }
    }

   

    

    // .cost-work__price
    &__price {
        span {
            font-weight: 800;
            font-size: 25px;
            color: $blue;
        }
    }

    // .cost-work__bottom
    &__bottom {
        display: flex;
        align-items: center;
        margin-top: 30px;
    }

    // .cost-work__btn
    &__btn {
        width: 290px;
        height: 60px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: $accent;
        margin-left: 30px;
        border-radius: 3px;
        color: $white;
        text-align: center;
        font-size: 17px;
        font-weight: 500;
        letter-spacing: 0.2px;
        transition: $animation_speed;

        &:hover{
          background-color: rgba($color: $accent, $alpha: .85);
        }
    }
}

.action {
    background-color: rgba($color: $blue, $alpha: .02);

    // .action__container
    &__container {
      position: relative; 

      &::before{
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        width: 40%;
        height: 100%;
        background-color: rgba($color: $blue, $alpha: .03);
        z-index: -1;
      }
    }

    // .action__body
    &__body {}

    // .action__title
    &__title {}

    // .action__subtitle
    &__subtitle {}

    // .action__row
    &__row {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
        gap: 30px;
        margin-top: 40px;
    }

    // .action__card
    &__card {}
}

.card-action {
    box-shadow: 0px 10px 15px 0px rgba(1, 45, 91, 0.05);
    background-color: $white;
    display: flex;
    flex-direction: column;

    &:hover {
        .card-action__img {
            img {
                transform: scale(1.01);
            }
        }

        .card-action__btn {
            color: $white;

            &::before {
                height: 100%;
            }
        }
    }

    // .card-action__img
    &__img {
        display: block;
        overflow: hidden;
        max-height: 300px;
        border-radius: 3px;


        img {
            max-width: 100%;
            transition: $animation_speed;
        }
    }

    // .card-action__middle
    &__middle {
        position: relative;
        padding: 40px 30px;
        flex: 1 1 auto;
    }

    // .card-action__title
    &__title {
        color: $mainColor;
        font-size: 23px;
        font-weight: 700;
        line-height: 31px;
        letter-spacing: 0.2px;
        margin-bottom: 5px;
        display: block;
        transition: $animation_speed;

        &:hover {
            color: $accent;
        }
    }

    // .card-action__date
    &__date {
        color: rgba($color: $mainColor, $alpha: .30);
        font-size: 13px;
        line-height: 25px;
        letter-spacing: 0.2px;
        margin-bottom: 26px;
        font-weight: 700;

        span {
            color: $blue;

        }
    }

    // .card-action__text
    &__text {
        color: rgba($color: $mainColor, $alpha: .65);
        font-size: 16px;
        line-height: 120%;
        letter-spacing: 0.2px;
    }

    // .card-action__btn
    &__btn {
        width: 100%;
        height: 60px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-top: 1px solid rgba($color: $blue, $alpha: .05);

        color: #121212;
        font-size: 17px;
        font-weight: 500;
        letter-spacing: 0.4px;
        position: relative;
        transition: $animation_speed;

        span {
            position: relative;
            z-index: 2;
        }

        &::before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: $accent;
            transition: $animation_speed;

            @media screen and (min-width: 769px) {
                height: 0%;
            }
        }
    }
}

.coast {
    position: relative;
    background-attachment: fixed;
    background-position: center top;
    background-size: cover;

    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba($color: $blue, $alpha: .9);
    }

    // .coast__container
    &__container {}

    // .coast__body
    &__body {
        position: relative;
        z-index: 2;
        background-color: $white;
        padding: 30px;
        border-radius: 3px;
    }

    // .coast__title
    &__title {
        font-size: 40px;
    }

    // .coast__subtitle
    &__subtitle {}

    // .coast__form
    &__form {
        margin-top: 30px;
        display: grid;
        grid-template-columns: 250px 1fr 200px;
        gap: 15px;
    }

    // .coast__input
    &__input {
        width: 100%;
        height: 60px;
        border: 1px solid rgba($color: $blue, $alpha: .3);
        padding: 0px 10px;
        border-radius: 5px;
        outline: none;

        &:focus {
            border-color: rgba($color: $blue, $alpha: .6)
        }
    }

    // .coast__submit
    &__submit {
        display: flex;
        width: 100%;
        height: 100%;
        justify-content: center;
        align-items: center;
        background-color: $accent;
        color: $white;
        text-align: center;
        font-size: 17px;
        font-weight: 500;
        letter-spacing: 0.2px;
        border-radius: 3px;
        transition: $animation_speed;

        &:hover {
            background-color: rgba($color: $accent, $alpha: .9);
        }
    }
}